[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restful = "*"
peewee = "*"
argon2-cffi = "*"
flask-httpauth = "*"
flask-limiter = "*"

[requires]
python_version = "3.6"
